.App {
  flex: 1;
  display: grid;
  grid-template-columns: minmax(10rem, 1fr) minmax(30rem, 3fr) minmax(
      10rem,
      1fr
    );
  grid-template-rows: 10rem 1fr;
}

.header {
  grid-row: 1;
  grid-column: 1 / 4;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  padding: 10rem;
  grid-area: 2 / 2;
  display: grid;
  grid-template-rows: minmax(36rem, 24vw) minmax(4rem, 3vw);
  grid-template-columns: minmax(4rem, 3vw) minmax(36rem, 24vw);
  justify-content: center;
}

.gamefield {
  grid-area: 1 / 2;
  width: max(36rem, 24vw);
  height: max(36rem, 24vw);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  outline: 2px solid var(--stale-900);
}

.cell{

}

.cell.black{
  background-color: var(--stale-900);
}

.cell.white{
  background-color: white;
}

.letters {
  grid-area: 2/2;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  
}

.letter {
  padding: 1rem 0;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: var(--stale-900);
}

.numbers {
  grid-area: 1/1;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  color: var(--stale-900);
}

.number {
  padding: 0 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--stale-900);
}
